@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.VideoGallery>
@{
    Layout = "Master.cshtml";
}


<main id="main">

    <section id="videogallery" class="videogallery mt-5">
        <div class="container">

            @*<div class="section-title mt-5">
            <h2>
                @if (!string.IsNullOrWhiteSpace(Model.))
                {
                    <span>@Model.HeaderTitle</span>
                }
                else
                {
                    <span>@Model.Name</span>
                }
            </h2>
            @if (!string.IsNullOrWhiteSpace(Model.HeaderSubtitle))
            {
                <span>@Model.HeaderSubtitle</span>
            }
        </div>*@

            <div class="row">
                @Html.Partial("~/Views/Partials/latestVideos.cshtml")
            </div>

        </div>
    </section>


</main><!-- End #main -->
