@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var selection = Umbraco.ContentAtRoot().FirstOrDefault()
    .Children()
    .Where(x => x.IsVisible());
}

<nav class="side-menu m-left-side m-show-submenu">
    <ul>
        <li>

            <a href="/">Home</a>
        </li>
        @foreach (var item in selection)
        {
            <li>
                <a href="@item.Url()" class="navlink w-nav-link">  @item.Name</a>
            </li>
        }
    </ul>
</nav>