@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Home>


@{
    var carousel = Model.Value<IEnumerable<IPublishedElement>>("carousel");
    var carouselID = "carousel";
    //IEnumerable<IPublishedContent> carousel = Umbraco.AssignedContentItem.Value<IEnumerable<IPublishedContent>>(carouselId);
}


@if (carousel != null && carousel.Any())
{

    <rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery">
        <rs-module id="rev_slider_1_1" style="" data-version="6.0.1" class="rev_slider_1_1_height">
            <!-- rs-slides -->
            <rs-slides>
                <!-- rs-slide -->
                @{
                    int slideCount = 0;
                    foreach (var item in carousel)
                    {
                        string title = item.Value<string>
                            ("slideTitle");
                        string title1 = item.HasValue("slideTitle1") ? item.Value<string>
                            ("slideTitle1") : "";
                        string title2 = item.HasValue("slideTitle2") ? item.Value<string>
                            ("slideTitle2") : "";
                        string title3 = item.HasValue("slideTitle3") ? item.Value<string>
                           ("slideTitle3") : "";
                        string subtitle = item.HasValue("slideDescription") ? item.Value<string>
                                        ("slideDescription") : "";
                        string imageUrl = item.HasValue("slideImage") ? item.Value<IPublishedContent>
                            ("slideImage").Url() : "/img/carousel.jpg";
                        string link = item.HasValue("slideLink") ? item.Value<string>
                            ("slideLink") : "";

                        <rs-slide data-key="rs-@slideCount" data-title="Slide" data-thumb="@imageUrl" data-anim="  ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
                            <img src="@imageUrl" title="home-mainslider-bg001" width="1920" height="250" class="rev-slidebg" data-no-retina>

                            <rs-layer id="slider-@slideCount-slide-@slideCount-layer-0"
                                      class="ttm-bgcolor-skincolor"
                                      data-type="shape"
                                      data-rsp_ch="on"
                                      data-xy="xo:54px,54px,-100px,-96px;yo:250px,197px,105px,64px;"
                                      data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                                      data-dim="w:55px,55px,34px,20px;h:4px,4px,2px,1px;"
                                      data-vbility="t,t,f,f"
                                      data-frame_0="x:50,50,31,19;"
                                      data-frame_1="e:Power0.easeIn;st:190;sR:190;"
                                      data-frame_999="o:0;st:w;sR:8510;">
                            </rs-layer>
                            @*<a id="slider-1-slide-1-layer-1"
                                   class="rs-layer ttm-btn-bgcolor-skincolor ttm-btn ttm-btn-size-md"
                                   href="#" target="_self" rel="nofollow"
                                   data-type="text"
                                   data-rsp_ch="on"
                                   data-xy="x:l,l,l,c;xo:54px,54px,40px,0;yo:573px,443px,290px,193px;"
                                   data-text="s:15,15,12,12;l:27,27,23,25;fw:600;a:center;"
                                   data-padding="t:12,12,10,6;r:35,35,22,14;b:15,15,10,6;l:35,35,22,14;"
                                   data-frame_0="y:100%;"
                                   data-frame_1="st:940;sp:500;sR:940;"
                                   data-frame_999="o:0;st:w;sR:7560;">
                                    Discuss Your Project
                                </a>*@
                            <rs-layer id="slider-@slideCount-slide-@slideCount-layer-2"
                                      data-type="text"
                                      data-color="#263045"
                                      data-rsp_ch="on"
                                      data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:270px,212px,111px,84px;"
                                      data-text="w:normal;s:62,62,50,37;l:70,70,50,50;fw:600;"
                                      data-frame_0="x:-50,-50,-31,-19;"
                                      data-frame_1="e:Power0.easeIn;st:250;sp:800;sR:250;"
                                      data-frame_999="o:0;st:w;sR:7950;">
                                @title <strong class="ttm-textcolor-skincolor">@title1</strong> @title2
                            </rs-layer>
                            <rs-layer id="slider-@slideCount-slide-@slideCount-layer-3"
                                      data-type="text"
                                      data-color="#263045"
                                      data-rsp_ch="on"
                                      data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:355px,279px,163px,129px;"
                                      data-text="w:normal;s:62,62,50,37;l:70,70,50,50;fw:600;"
                                      data-frame_0="x:-50,-50,-31,-19;"
                                      data-frame_1="e:Power0.easeIn;st:450;sp:800;sR:450;"
                                      data-frame_999="o:0;st:w;sR:7750;">
                                @title3
                            </rs-layer>
                            @*<a id="slider-1-slide-1-layer-4"
                                   class="rs-layer"
                                   href="#" target="_self" rel="nofollow"
                                   data-type="text"
                                   data-color="#263045"
                                   data-rsp_ch="on"
                                   data-xy="x:l,l,l,c;xo:340px,340px,245px,0;yo:587px,457px,304px,239px;"
                                   data-text="s:15,15,12,13;l:25,25,15,25;fw:700;"
                                   data-frame_0="y:100%;"
                                   data-frame_1="st:1050;sp:500;sR:1050;"
                                   data-frame_999="o:0;st:w;sR:7450;"
                                   data-frame_hover="c:#2d4a8a;">
                                    Get A Quote
                                </a>*@
                            <rs-layer id="slider-@slideCount-slide-@slideCount-layer-5"
                                      data-type="text"
                                      data-color="#3b404c"
                                      data-rsp_ch="on"
                                      data-xy="xo:50px,50px,40px,-444px;yo:440px,358px,220px,113px;"
                                      data-text="s:16,16,14,8;l:27,27,23,14;"
                                      data-vbility="t,t,t,f"
                                      data-frame_0="x:-50,-50,-31,-19;"
                                      data-frame_1="e:Power0.easeIn;st:860;sp:500;sR:860;"
                                      data-frame_999="o:0;st:w;sR:7640;">
                                @subtitle
                            </rs-layer>
                            @*<a id="slider-1-slide-1-layer-6"
                                   class="rs-layer"
                                   href="#" target="_self" rel="nofollow"
                                   data-type="text"
                                   data-color="#263045"
                                   data-rsp_ch="on"
                                   data-xy="xo:308px,308px,222px,-134px;yo:587px,457px,304px,192px;"
                                   data-text="s:23,23,15,9;l:25,25,15,9;fw:800;"
                                   data-vbility="t,t,t,f"
                                   data-frame_0="y:100%;"
                                   data-frame_1="st:1050;sp:500;sR:1050;"
                                   data-frame_999="o:0;st:w;sR:7450;"
                                   data-frame_hover="c:#2d4a8a;">
                                    <i class="ti ti-arrow-circle-right"></i>
                                </a>*@
                        </rs-slide>
                        slideCount++;
                    }
                }
            </rs-slides>
        </rs-module><!-- rs-module -->
    </rs-module-wrap>
}